:root, [data-bs-theme=light] {
  --bs-primary: #001c1c;
  --bs-primary-rgb: 0,28,28;
  --bs-primary-text-emphasis: #000B0B;
  --bs-primary-bg-subtle: #CCD2D2;
  --bs-primary-border-subtle: #99A4A4;
  --bs-secondary: #001c1c;
  --bs-secondary-rgb: 0,28,28;
  --bs-secondary-text-emphasis: #000B0B;
  --bs-secondary-bg-subtle: #CCD2D2;
  --bs-secondary-border-subtle: #99A4A4;
  --bs-link-color: #000000;
  --bs-link-color-rgb: 0,0,0;
  --bs-link-hover-color: #000000;
  --bs-link-hover-color-rgb: 0,0,0;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #001c1c;
  --bs-btn-border-color: #001c1c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #001818;
  --bs-btn-hover-border-color: #001616;
  --bs-btn-focus-shadow-rgb: 217,221,221;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #001616;
  --bs-btn-active-border-color: #001515;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #001c1c;
  --bs-btn-disabled-border-color: #001c1c;
}

.btn-outline-primary {
  --bs-btn-color: #001c1c;
  --bs-btn-border-color: #001c1c;
  --bs-btn-focus-shadow-rgb: 0,28,28;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #001c1c;
  --bs-btn-hover-border-color: #001c1c;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #001c1c;
  --bs-btn-active-border-color: #001c1c;
  --bs-btn-disabled-color: #001c1c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #001c1c;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #001c1c;
  --bs-btn-border-color: #001c1c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #001818;
  --bs-btn-hover-border-color: #001616;
  --bs-btn-focus-shadow-rgb: 217,221,221;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #001616;
  --bs-btn-active-border-color: #001515;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #001c1c;
  --bs-btn-disabled-border-color: #001c1c;
}

.btn-outline-secondary {
  --bs-btn-color: #001c1c;
  --bs-btn-border-color: #001c1c;
  --bs-btn-focus-shadow-rgb: 0,28,28;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #001c1c;
  --bs-btn-hover-border-color: #001c1c;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #001c1c;
  --bs-btn-active-border-color: #001c1c;
  --bs-btn-disabled-color: #001c1c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #001c1c;
}

[data-bs-theme=dark] {
  --bs-primary: #ffffff;
  --bs-primary-rgb: 255,255,255;
  --bs-primary-text-emphasis: #FFFFFF;
  --bs-primary-bg-subtle: #333333;
  --bs-primary-border-subtle: #999999;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FFFFFF;
  --bs-btn-hover-border-color: #FFFFFF;
  --bs-btn-focus-shadow-rgb: 38,38,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFFFFF;
  --bs-btn-active-border-color: #FFFFFF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ffffff;
  --bs-btn-disabled-border-color: #ffffff;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-focus-shadow-rgb: 255,255,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffffff;
}

